{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row align-items-center justify-content-center">
        <!-- Showing the items in the user's shopping bag -->
        <div class="col-12 my-5">
            <h4 class="mb-5">Your bag:</h4>
            {% if bag_items %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Product</th>
                        <th class="my-0">Size</th>
                        <th scope="col">Price</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                {% for item in bag_items %}
                <tr>
                    <td>
                        {% if item.product.image %}
                        <img class="w-50" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                        {% else %}
                        <img src="{{ MEDIA_URL }}no-image.png" alt="{{ item.product.name }}">
                        {% endif %}
                    </td>
                    <td>
                        <p>{{item.product.name }}</p>
                    </td>
                    <td>
                        <p>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                    </td>
                    <td>
                        <p>£{{item.product.price }}</p>
                    </td>
                    <td>
                        <p>{{item.quantity}}</p>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>Shipping cost</td>
                    <td></td>
                    <td> </td>
                    <td></td>
                    {% if free_delivery_delta <= 0 %}
                    <td> £{{ delivery }}
                        <p> You have free delivery! </p>
                    </td>
                    {% else %}
                    <td>
                        <strong> £{{ delivery}} </strong>
                        <p><i>Get free delivery by spending £{{ free_delivery_delta}}
                                more!</i>
                        </p>
                    </td>
                    {% endif %}
                </tr>
                <tr>
                    <td><strong>Total cost</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong> £{{ grand_total }} </strong> </td>
                </tr>
            </table>
            <div class="row  mt-5 align-items-center justify-content-end">
                <div class="col-8 mt-5 text-right">
                    <a href="{% url 'products' %} "><span class="icon"><i class="fas fa-arrow-left"></i> </span> Continue
                        shopping</a>
                    <a class="btn submit-btn rounded-pill" href="# "> Checkout</a>
                    {% else %}
                    <p class="my-5">No items in your bag yet.</p>
                    <a class="btn submit-btn rounded-pill" href="{% url 'products' %}"> Go shopping!</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}