{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid page-wrapper bg-leaves lightgrey-section">
    <div class="row justify-content-center">
        <div class="col">
            <h3 class="text-center mb-3 showcase">Sizing</h3>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="container sizing">
        <div class="row">
            <div class="col s12 m12 l12">
                <img src="{{ MEDIA_URL }}sizing.png" alt="sizing chart" class="sizing">
            </div>
        </div>
    </div>
    <hr class="w-50 mb-1">
    <!-- Best sellers -->
    <div class="row">
        <div class="col py-5">
            <h3 class="text-center mb-3 showcase">Best Sellers</h3>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>
{% endblock %}