{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block content %}
<!-- Checkout Progress bar -->
<!-- Original code with modifications for progress bar from: https://bbbootstrap.com/snippets/bootstrap-5-ecommerce-checkout-form-progress-bar-44177913 -->
<div class="progresses py-4 mt-5" id="success-progresses">
    <ol class="d-flex align-items-center justify-content-between">
        <li id="step-1-success"></li>
        <li id="step-2-success"></li>
        <li id="step-3-success"></li>
    </ol>
    <div class="progress" id="success-progess">
        <div role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="success-progressbar"></div>
    </div>
</div>
<!-- Heading -->
<div class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <h2 class="logo-font">Checkout Success</h2>
            <hr class="w-100 mb-1">
        </div>
    </div>
</div>
<!-- Order Information -->
<main class="container mb-5">
    <div class="row">
        <div class="col-12 col-lg-7">
            <h3 class="smaller-heading pt-3 pb-3">Your order information is below. A confirmation email will be sent to
                <strong>{{ order.email }}</strong>.</h3>
            <div class="p-2 border">
                <div class="row">
                    <div class="col">
                        <h3 class="text-muted">Order Info:</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Order Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.order_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Order Date</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.date }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="text-muted pt-3">Order Details:</h3>
                    </div>
                </div>
                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">
                            {{ item.product.name }}{% if item.product_size %} - Size {{ item.product_size|upper }}{% endif %}
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class=" mb-0">{{ item.quantity }} @ £{{ item.product.price }} each</p>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col">
                        <h3 class="text-muted mt-3">Delivering To:</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Full Name</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.full_name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Address 1</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                </div>
                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Address 2</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                </div>
                {% endif %}
                {% if order.county %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">County</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Town or City</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.town_or_city }}</p>
                    </div>
                </div>
                {% if order.postcode %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Postal Code</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Country</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.country }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Phone Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.phone_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="text-muted mt-3">Billing Info:</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Order Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">£{{ order.order_total }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Delivery</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">£{{ order.delivery_cost }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Grand Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">£{{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Image & Links -->
        <div class="col-sm-12 col-md-12 col-lg-5 mt-3">
            {% if from_profile %}
            <a href="{% url 'profile' %}" class="btn action-btn">
                <span class="icon mr-2">
                    <i class="fas fa-angle-left"></i>
                </span>
                <span class="text-uppercase">Back to Profile</span>
            </a>
            {% else %}
            <a href="{% url 'products' %}" class="btn action-btn mt-5">
                <span class="text-uppercase">Visit the Shop</span>
            </a>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}