.order-history {
    max-height: 416px;
    /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
    margin-bottom: 10px;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: var(--lightgrey);
}

#id_default_country option:first-child {
    color: #aab7c4;
}