/* -------------------------------------------------- Common css codes */
.green-section {
    background-color: var(--green);
}

.pink-section {
    background-color: var(--pink);
}

.lightgrey-section {
    background-color: var(--lightgrey);
}

.text-uppercase {
    text-transform: uppercase;
}

.font-antonio {
    font-family: var(--Antonio);
}

/* -------------------------------------------------- Root Variables*/
:root {
    --Antonio: 'Antonio', sans-serif;
    /* font-family: var(--Antonio); */
    --green: #295939;
    color: var(--green);
    /*previious color #81b214*/
    --pink: #E9B0DF;
    /* color: var(--bggreen); */
    --lightgrey: #E8EFEB;
    /* color: var(--lightgrey); */
    --error: #f44336;
    /* color: var(--error); */
}
}

html {
    height: 100%;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- Bootstrap Toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ------------------------------- Footer */
footer #main-footer {
    background-color: #CE7D00;
}

.social a {
    margin-right: 0.4rem;
    color: var(--green);
}

.social i {
    font-size: 130%;
    color: #E9B0DF;
    padding-right: 3%;
    padding-left: 3%;
}

.social {
    padding-top: 23px;
}

.social i:hover {
    color: var(--lightgrey);
}

.fas.icon {
    font-size: 80%;
    color: var(--pink);
}

.contact p {
    margin-bottom: 0px;
    padding-top: 20px;
}

.copyright {
    margin-top: 40px;
    font-size: 12px;
}

.site-footer__linklist {
    list-style: none;
}

li a {
    color: var(--pink);
    font-size: 14px;
}

li a:hover {
    color: var(--lightgrey);
    text-decoration: none;
}

/* ------------------------------- Navbar */
#carouselContent {
    background-color: var(--lightgrey)
}

.carousel-item h6 {
    color: var(--green)
}

.logo {
    color: var(--pink);
    background-color: var(--green);
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 0;
    padding: 40px;
}

h2.logo:hover {
    color: var(--lightgrey);
    text-decoration: none;
    cursor: pointer;
}

/* --- PROGRESS BAR --- */
/* Original code with modifications from: https://bbbootstrap.com/snippets/bootstrap-5-ecommerce-checkout-form-progress-bar-44177913 */
.progresses {
    position: relative;
    max-width: 70%;
    margin: auto
}

.progresses ol {
    list-style: none;
    padding: 0
}

.progresses ol li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--Light);
    z-index: 200;
    position: relative
}

.progresses ol li::after {
    position: absolute;
    top: 35px;
    left: -15px;
    font-size: 0.8rem;
    width: 90px
}

/* Bag Steps */
#step-1-bag {
    background-color: var(--green);
}

#step-1-bag::after {
    content: "Bag";
    font-size: 18px;
    font-weight: 700;
    padding-left: 15px;
}

#step-2-bag::after {
    content: "Checkout";
    font-size: 15px;
}

#step-3-bag::after {
    content: "Confirmation";
    font-size: 15px;
}

.progresses .progress {
    height: 0.8rem;
    width: 100%;
    top: 33px;
    position: absolute;
    background-color: var(--lightgrey);
    border-radius: 10px
}

/* Checkout Steps */
#step-1-checkout {
    background-color: var(--green);
}

#step-1-checkout::after {
    content: "Bag";
    font-size: 16px;
    padding-left: 15px;
}

#step-2-checkout {
    background-color: var(--green);
}

#step-2-checkout::after {
    content: "Checkout";
    font-size: 17px;
    font-weight: 700;
    color: var(--lightgrey);
}

#step-3-checkout::after {
    content: "Confirmation";
    font-size: 15px;
}

.checkout-progressbar {
    background-color: var(--lightgreen);
}

/* Confirmation Steps */
.block-img-success {
    max-width: 80%;
}

#step-1-success {
    background-color: var(--green);
}

#step-1-success::after {
    content: "Cart";
    font-size: 16px;
    padding-left: 15px;
}

#step-2-success {
    background-color: var(--green);
}

#step-2-success::after {
    content: "Checkout";
    font-size: 16px;
    padding-left: 15px;
}

#step-3-success {
    background-color: var(--green);
}

#step-3-success::after {
    content: "Confirmation";
    font-size: 18px;
    font-weight: 700;
    color: var(--green);
}

.success-progressbar {
    background-color: var(--lightgreen);
}

#success-progresses #success-progess {
    background-color: var(--lightgreen);
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* --- LANDING SECTION --- */

/* Smaller Screens */
.landing1,
.landing2 {
    min-width: 100%;
    padding-left: 2rem;
    padding-right: 8rem;
    padding-top: 5rem;
    padding-bottom: 8px;
    min-height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.landing1 {
    background: url('/static/images/home/pexels-juan.jpg') no-repeat center center;
    margin-bottom: 90px;
}

.landing2 {
    background: url('/static/images/home/pexels-cottonbro.jpg') no-repeat center center;
}


/* For Tablets */
@media only screen and (min-width: 768px) {

    .landing1,
    .landing2 {
        padding-top: 12.5rem;
        padding-left: 10rem;
        min-height: 90vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 80%;
    }
}

/* For Desktops */
@media only screen and (min-width: 1000px) {

    .landing1,
    .landing2 {
        padding-top: 12.5rem;
        padding-left: 10rem;
    }
}

/* For Large 4K Screens */
@media only screen and (min-width: 2560px) {

    .landing1,
    .landing2 {
        padding-top: 12.5rem;
        padding-left: 10rem;
    }
}

/* --- LANDING PAGE ROW--- */
.landing-row {
    padding-top: 100px;
}