/* -------------------------------------------------- Common css codes */
.green-section {
    background-color: var(--green);
}

.pink-section {
    background-color: var(--pink);
}

.lightgrey-section {
    background-color: var(--lightgrey);
}

.text-uppercase {
    text-transform: uppercase;
}

.font-antonio {
    font-family: var(--Antonio);
}

/* -------------------------------------------------- Root Variables*/
:root {
    --Antonio: 'Antonio', sans-serif;
    /* font-family: var(--Antonio); */
    --green: #295939;
    /* color: var(--green); */
    --lightgreen: #5cf18d;
    /* color: var(--lightgreen); */
    --pink: #E9B0DF;
    /* color: var(--pink); */
    --lightpink: #FAD9E6;
    /* color: var(--lightpink); */
    --lightgrey: #E8EFEB;
    /* color: var(--lightgrey); */
    --white: #ffffff;
    /* color: var(--white); */
    --black: #030303;
    /* color: var(--black); */
    --orange: #FF9F29;
    /* color: var(--orange); */
    --error: #f44336;
    /* color: var(--error); */
}

html {
    height: 100%;
}

body {
    background-color: var(--lightgrey);
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- Bootstrap Toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Showcase  */

h3.showcase {
    color: var(--green);
}

/* ------------------------------- Footer */
footer #main-footer {
    background-color: #CE7D00;
}

.social a {
    margin-right: 0.4rem;
    color: var(--green);
}

.social i {
    font-size: 130%;
    color: var(--pink);
    padding-right: 3%;
    padding-left: 3%;
}

.social {
    padding-top: 23px;
}

.social i:hover {
    color: var(--orange);
}

.fas.icon {
    font-size: 80%;
    color: var(--pink);
}

.contact p {
    margin-bottom: 0px;
    padding-top: 20px;
}

.copyright {
    margin-top: 40px;
    font-size: 12px;
}

.site-footer-linklist {
    list-style: none;
}

li a {
    font-size: 14px;
    color: var(--pink);
}

li a:hover {
    color: var(--orange);
    text-decoration: none;
}

/* Size charts page */

.sizing {
    margin-bottom: 30px;
}

/* Returns Page */
.returns h4,
.returns li {
    margin-left: 50px;
    margin-right: 50px;
}

/* ------------------------------- Navbar */

a.nav-link {
    font-size: 18px;
    color: var(--green) !important;
}

a.nav-link:hover {
    color: var(--white) !important;
}

#carouselContent {
    background-color: var(--lightgrey)
}

.carousel-item h6 {
    color: var(--green)
}

.logo {
    width: 50%;
}

.logo:hover {
    cursor: pointer;
}

.nav-link:hover {
    color: var(--green);
}

.navbar-nav .nav-link:hover {
    color: var(--green);
}

a.dropdown-item {
    color: var(--green);
}

a.dropdown-item:hover {
    color: var(--pink);
    background-color: var(--green);
}

.dropdown-menu {
    color: var(--lightgrey);
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--lightgreen);
}

.dropdown-item.active,
.dropdown-item:active {
    color: var(--green);
    text-decoration: none;
    background-color: var(--pink);
}

i.fas.fa-user.fa-lg {
    color: var(--green);
}

i.fas.fa-user.fa-lg:hover {
    color: var(--white);
}

/* Search  */
.form-control:focus {
    color: var(--black);
    background-color: var(--white);
    border-color: var(--lightgreen);
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.25rem rgba(152, 223, 136, 0.5);
}

.form-check-input:focus {
    border-color: var(--lightgreen);
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.25rem rgba(152, 223, 136, 0.5);
}

i.fas.fa-search {
    color: var(--orange);
}

.form-control {
    border-radius: 8px;
}

/* --- PROGRESS BAR --- */
/* Original code with modifications from: https://bbbootstrap.com/snippets/bootstrap-5-ecommerce-checkout-form-progress-bar-44177913 */
.progresses {
    position: relative;
    max-width: 70%;
    margin: auto
}

.progresses ol {
    list-style: none;
    padding: 0
}

.progresses ol li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--lightgrey);
    z-index: 200;
    position: relative
}

.progresses ol li::after {
    position: absolute;
    top: 35px;
    left: -15px;
    font-size: 0.8rem;
    width: 90px
}

/* Bag Steps */
#step-1-bag {
    background-color: var(--green);
}

#step-1-bag::after {
    content: "Bag";
    font-size: 18px;
    font-weight: 700;
    padding-left: 15px;
    color: var(--green);
}

#step-2-bag::after {
    content: "Checkout";
    font-size: 15px;

}

#step-3-bag::after {
    content: "Confirmation";
    font-size: 15px;
}

.progresses .progress {
    height: 0.8rem;
    width: 100%;
    top: 33px;
    position: absolute;
    background-color: var(--lightgrey);
    border-radius: 10px
}

/* Bag page */
.table {
    color: var(--green);
}

/* Checkout Steps */
#step-1-checkout {
    background-color: var(--green);
}

#step-1-checkout::after {
    content: "Bag";
    font-size: 16px;
    padding-left: 15px;
}

#step-2-checkout {
    background-color: var(--green);
}

#step-2-checkout::after {
    content: "Checkout";
    font-size: 17px;
    font-weight: 700;
}

#step-3-checkout::after {
    content: "Confirmation";
    font-size: 15px;
}

.checkout-progressbar {
    background-color: var(--orange);
}

/* Confirmation Steps */
.block-img-success {
    max-width: 80%;
}

#step-1-success {
    background-color: var(--green);
}

#step-1-success::after {
    content: "Cart";
    font-size: 16px;
    padding-left: 15px;
}

#step-2-success {
    background-color: var(--green);
}

#step-2-success::after {
    content: "Checkout";
    font-size: 16px;
    padding-left: 15px;
}

#step-3-success {
    background-color: var(--green);
}

#step-3-success::after {
    content: "Confirmation";
    font-size: 18px;
    font-weight: 700;
    color: var(--green);
}

.success-progressbar {
    background-color: var(--orange);
}

#success-progresses #success-progess {
    background-color: var(--orange);
}

/* Product Management Form */
.btn-file {
    position: relative;
    overflow: hidden;
    color: var(--white);
    background-color: var(--green);
}

.btn-file:hover {
    color: var(--green);
    background-color: var(--orange);
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Products Page */
.products-preview {
    margin-bottom: 40px;
}

/* Products Details Page */
h3.product-details,
h6.product-details {
    color: var(--green);
    margin-bottom: 30px;
}

#headingOne,
#headingTwo,
#headingThree {
    background-color: var(--green);
    border-radius: 5px;
}

.card-body {
    color: var(--green);
}

a.link-text,
a.size-guide {
    font-size: 16px;
    font-weight: bold;
    color: var(--green);
}

.link-text:hover,
a.size-guide:hover {
    font-size: 16px;
    font-weight: bold;
    color: var(--orange);
}

.decrement-qty {
    border-radius: 8px;
    background: var(--green);
    color: var(--white);
}

.decrement-qty:hover {
    border-radius: 8px;
    background: var(--pink);
    color: var(--white);
}

.increment-qty {
    border-radius: 8px;
    background: var(--green);
    color: var(--white);
}

.increment-qty:hover {
    border-radius: 8px;
    background: var(--pink);
    color: var(--white);
}

p.info {
    color: var(--green);
}

/* --- LANDING SECTION --- */
/* Smaller Screens */
.landing1,
.landing2 {
    min-width: 100%;
    padding-left: 2rem;
    padding-right: 8rem;
    padding-top: 5rem;
    padding-bottom: 8px;
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.landing1 {
    background: url('/static/images/home/pexels-juan.jpg') no-repeat center center;
    margin-bottom: 90px;
}

.landing2 {
    background: url('/static/images/home/pexels-cottonbro.jpg') no-repeat center center;
}

.landing1,
.landing2 {
    padding-top: 12.5rem;
    padding-left: 10rem;
    min-height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80%;
}


/* --- LANDING PAGE ROW--- */
.landing-row {
    padding-top: 100px;
}

/* --- BUTTONS --- */
.shop-now-button {
    background: var(--green);
    color: var(--orange);
    min-width: 260px;
    border-radius: 8px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: var(--pink);
    color: var(--white);
}

.view-btn {
    color: var(--white);
    background-color: var(--orange);
    display: block;
}

.view-btn:hover {
    color: var(--orange);
    background-color: var(--green);
}

.btn-link {
    color: var(--white);
}

.btn-link:hover {
    color: var(--pink);
    text-decoration: none;
}

.action-btn {
    background: var(--green);
    color: var(--pink);
    min-width: fit-content;
    border-radius: 8px;
    margin: 10px;
}

.action-btn:hover {
    background: var(--green);
    color: var(--white);
}

.alt-action-btn {
    background: var(--pink);
    color: var(--black);
    min-width: fit-content;
    border-color: var(--white);
    border-radius: 8px;
    margin: 10px;
}

.alt-action-btn:hover {
    background: var(--orange);
    border-color: var(--orange);
    color: var(--green);
}

.subscription-button {
    background: var(--green);
    color: var(--white);
    min-width: 260px;
    border-radius: 8px;
}

.subscription-button:hover {
    background: var(--orange);
    color: var(--green);
}

.btn-block {
    background-color: var(--green);
    color: var(--white);
}

.btn-block:hover {
    background-color: var(--orange);
    color: var(--green);
}

/* Login, Logout and sing up pages */
.section-img {
    max-width: 90%;
}


.card-img-top .img-fluid img {
    height: 300px;
}