<footer id="main-footer" class="py-4 text-white text-center green-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-left">
                <ul class="site-footer__linklist">
                    <li><a href="/search">Search</a></li>
                    <li><a href="https://louiza-6364.myshopify.com/a/returns">Returns</a></li>
                    <li><a href="/pages/t-c-privacy-policy">Privacy </a></li>
                    <li><a href="/pages/shipping">Shipping</a></li>
                    <li><a href="/pages/sizing">Sizing </a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center contact">
                <small><i class="fas fa-phone icon"></i> (+44)-555-5555</small>
                <br>
                <small><i class="fas fa-envelope-open icon"></i> contact@sarancollection.co.uk</small>
                <p>Support opening hours:</p>
                <small>Weds-Friday 10:00am - 5:00pm (excluding bank holidays)</small>
            </div>
            <div class="col-md-4 social text-right">
                <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer" aria-hidden="false" aria-label="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" aria-hidden="false" aria-label="facebook">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" aria-hidden="false" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col copyright">
                <p>
                    © 2022 Saran Collection
                </p>
            </div>
        </div>
    </div>
</footer>