<nav class="navbar navbar-expand-lg navbar-dark  pink-section sticky-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li {% if '/' == request.path %} class="nav-item active mr-3 font-weight-bolder" {% else %} class="nav-item mr-3" {% endif %}>
                    <a class="nav-link" href=" {% url 'home' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="logo-font nav-link mr-5 font-weight-bolder" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All Products
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                        <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                        <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                        <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                        <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="logo-font nav-link mr-5 font-weight-bolder" href="#" id="women-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Women
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="women-products-link">
                        <a href="{% url 'products' %}?category=jumpsuits" class="dropdown-item">Jumpsuits</a>
                        <a href="{% url 'products' %}?category=dresses" class="dropdown-item">Dresses</a>
                        <a href="{% url 'products' %}?category=bags" class="dropdown-item">Bags</a>
                        <a href="{% url 'products' %}?category=womenshoes" class="dropdown-item">Shoes</a>
                        <a href="{% url 'products' %}?category=jumpsuits,dresses,bags,womenshoes" class="dropdown-item">All Women</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="logo-font nav-link mr-5 font-weight-bolder" href="#" id="men-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Men
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="men-products-link">
                        <a href="{% url 'products' %}?category=suits" class="dropdown-item">Suits</a>
                        <a href="{% url 'products' %}?category=shirts" class="dropdown-item">Shirts</a>
                        <a href="{% url 'products' %}?category=belts" class="dropdown-item">Belts</a>
                        <a href="{% url 'products' %}?category=menshoes" class="dropdown-item">Shoes</a>
                        <a href="{% url 'products' %}?category=suits,shirts,belts,menshoes" class="dropdown-item">All Men</a>
                    </div>
                </li>
                <li class="nav-item mr-3 font-weight-bolder">
                    <a class="nav-link" href="">Forum</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="dropdown">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user fa-lg" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser%}
                            <a class="dropdown-item" href="{% url 'add_product' %}">Product Management</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                            <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'account_signup' %}">Sign up</a>
                            <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                            {% endif %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="list-inline-item">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                <div class="text-center">
                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                    <p class="my-0">
                        {% if grand_total %}
                        £{{ grand_total|floatformat:2 }}
                        {% endif %}
                    </p>
                </div>
            </a>
        </div>
    </div>
</nav>