<div id="carouselContent" class="carousel slide" data-ride="carousel">
    <div class="container">
        <div class="carousel-inner text-center m-auto" role="listbox">
            <div class="carousel-item active text-center p-4">
                <div class="user_text">
                    <h6 class="mbr-fonts-style display-7">
                        Free delivery on orders over £{{ free_delivery_threshold }}!
                    </h6>
                </div>
            </div>
            <div class="carousel-item text-center p-4">
                <div class="user_text">
                    <h6 class="mbr-fonts-style display-7">
                        Join the community now!
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <!-- Logo -->
        <div class="container-fluid font-antonio text-center green-section">
            <div class="row">
                <h2 class="col-12 ml-auto text-uppercase logo" href="{% url 'home' %}">Saran Collection
                </h2>
            </div>
        </div>
    </div>
</div>