<div id="carouselContent" class="carousel slide" data-ride="carousel">
    <div class="container">
        <div class="carousel-inner text-center text-black m-auto" role="listbox">
            <div class="carousel-item active text-center p-4">
                <div class="user_text mb-3">
                    <h6 class="mbr-fonts-style display-7">
                        Free delivery on orders over ${{ free_delivery_threshold }}!
                    </h6>
                </div>
            </div>
            <div class="carousel-item text-center p-4">
                <div class="user_text mb-3">
                    <h6 class="mbr-fonts-style display-7">
                        Join the community now!
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="text-centre">
            <a class="text-center m-auto text-black" href="{% url 'index' %}">
                <h2 class="logo">Saran Collection</h2>
            </a>
        </div>
    </div>
</div>