{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<main class="container" style="height: 100vh;">
    <!-- Heading -->
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Create a New Thread</h2>
            <hr class="w-100 mb-1">
        </div>
    </div>
    <!-- Form -->
    <div class="row h-100 mt-5">
        <div class="col">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-buttons" style="float:right;">
                    <a class="btn alt-action-btn mt-3" href="{% url 'forum' %}">Cancel</a>
                    <button class="btn action-btn mt-3" type="submit">Create thread</button>
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}