{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="container">
    <!-- Orginal code from with modifications for project - navigation: https://www.youtube.com/watch?v=knGk9aUr4Do -->
    <!-- Navigation -->
    <div class="row">
        <div class="col">
            <a href="{% url 'forum' %}" class="link-text">Forum</a>
            >> <strong> Thread </strong>
        </div>
    </div>
    <!-- Heading -->
    <div class="row pb-4">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Thread</h2>
            <hr class="w-100 mb-1">
        </div>
    </div>
    <div class="row pb-4">
        <div class="col text-center mt-3">
            <p class="logo-font">This is where you will find all comments related to
                <strong>{{ thread.title }}</strong>. Why not add a comment and give your input.</p>
            <hr class="w-100 mb-1">
        </div>
    </div>
    <!-- Back Button -->
    <div class="row pb-4">
        <div class="col ms-3">
            <a href="{% url 'forum' %}" class="btn action-btn"> <i class="fa fa-chevron-left" aria-hidden="true"></i>
                Back to Forum</a>
        </div>
    </div>
</section>
<!-- Thread Section -->
<main class="container">
    <div class="row thread main-thread ms-3 me-3">
        <div class="col pt-3 pb-3">
            <h3><strong>Topic: {{ thread.title }}</strong></h3>
            <p>By: {{ thread.creator }} on {{ thread.date_created }}
            </p>
            <p>{{ thread.description }}</p>
            <div class="pt-1 pb-2">
                <!-- If the user created the thread or it is an admin user, they will see the option to edit or delete the thread -->
                {% if request.user == thread.creator or request.user.is_superuser %}
                <a href="{% url 'edit_thread' thread.pk %} " class="btn action-btn btn-sm">Edit</a>
                <a href="{% url 'delete_thread' thread.pk %}" class="btn alt-action-btn btn-sm">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
</main>
<!-- Comment section: No comments -->
<section class="container mb-5">
    {% if comments %}
    <div class="row mt-1">
        <div class="col me-3">
            <!-- Orginal code from with modifications for project- comment counter: https://www.youtube.com/watch?v=6SkoqRJ-yAw&list=PLMXItuyqfZ94JEmU4KWcbPepKLAK2KGDb&index=9 -->
            <p class="d-flex justify-content-end comment-count-pag">{{ comments_count }}
                comment{% if comments_count == 0 or comments_count > 1 %}s{% endif %}
            </p>
        </div>
        <div class="row mt-1">
            <div class="col d-flex justify-content-end">
                <a href="{% url 'add_comment' thread.pk %}?next={{ request.path }}?page={{ next_page }}" class="btn action-btn">Add a comment</a>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <h3 class="smaller-heading ms-3">Comments</h3>
    </div>
    {% for comment in comments %}
    <div class="row thread m-3">
        <div class="col-sm-10 pb-3">
            <p class="pt-3"><em>This comment is by <strong> {{ comment.creator }}</strong> posted on
                    {{ comment.date_created }}</em></p>
            <br>
            <p>{{ comment.post }}</p>
            <!-- If the user added the comment or it is an admin user, they will see the option to edit or delete the comment -->
            {% if request.user == comment.creator or request.user.is_superuser %}
            <br>
            <div class="pt-1 pb-2">
                <!-- Edit comment -->
                <a href="{% url 'edit_comment' comment.pk %}?next={{ request.path }}?page={{ comments.number }}" class="btn action-btn btn-sm">Edit</a>
                <a href="{% url 'delete_comment' comment.pk %}?next={{ request.path }}" class="btn alt-action-btn btn-sm">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="row mb-5">
        <div class="col mt-3 ms-3 ps-2 pt-3 text-center">
            <p> There are no comments yet. </p>
            <a href="{% url 'add_comment' thread.pk %}?next={{ request.path }}?page={{ next_page }}" class="btn action-btn">Add a comment</a>
        </div>
    </div>
    {% endif %}
</section>
<!-- Scroll up button -->
<button id="scrollButton" title="Go to top">
    <i class="fas fa-angle-double-up scrollup-arrow"></i>
</button>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // Page scroll up feature
    /* Orginal code from with modifications for project:
     https://stackoverflow.com/questions/14249998/jquery-back-to-top and https://www.tutorialrepublic.com/faq/how-to-scroll-to-the-top-of-the-page-using-jquery.php */
    $(window).scroll(function() {
        if ($(this).scrollTop()) {
            $('#scrollButton').fadeIn();
        } else {
            $('#scrollButton').fadeOut();
        }
    });

    $("#scrollButton").click(function() {
        $("html, body").animate({
            scrollTop: 0
        }, "fast");
    });
</script>
{% endblock %}