{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_title %}
- Password Reset
{% endblock %}

{% block content %}
<div class="container">
    <!-- Heading-->
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">{% trans "Password Reset" %}</h2>
            <hr class="w-100 mb-1">
        </div>
    </div>
</div>
<section class="container">
    <div class="row height-view">
        <div class="col-12 col-md-6">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <h3 class="block-heading ">Forgotten your password? </h3>
            <p class="block">
                {% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
            </p>
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form|crispy }}
                <a class="btn button-text alt-action-btn mt-4 mb-1" href="{% url 'account_login' %}"> <i class="fas fa-chevron-left me-3"></i>Back to Login</a>
                <input type="submit" value="{% trans 'Reset My Password' %}" class="btn button-text action-btn mt-4 mb-1" />
            </form>
            <p class="pt-4">Please <a href="{% url 'contact_us' %}" class="link-text">contact us</a> if you have any
                trouble resetting your password.</p>
        </div>
    </div>
</section>
{% endblock %}