{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block extra_title %}
- Password Reset
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <!-- Heading-->
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">
                {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
            <hr class="w-100 mb-1">
        </div>
    </div>
</div>
<section class="container mt-2">
    <div class="row height-view">
        <div class="col-12 col-md-6 mt-3">
            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please
                request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
            {% if form %}
            <h3 class="block-heading ">Set a new password</h3>
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <small><em><strong>Password tip:</strong> Your password must contain at least 8 characters, a combination of numbers & letters, not be similar to your email address and not a common combination like (abcdefgh or 12345678). You can include special characters but it is not required.</em></small>
                <div class="mt-3 mb-2 d-flex justify-content-end ">
                    <a class="btn alt-action-btn" href="{% url 'account_login' %}">Back to Login</a>
                    <input class="btn action-btn ms-2" type="submit" name="action" value="{% trans 'Change password' %}" />
                </div>
            </form>
            {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}