{% extends "account/base.html" %}
{% load static %}

{% load i18n %}


{% block extra_title %}
- Change Password
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <!-- Heading-->
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">{% trans "Change Password" %}</h2>
            <hr class="w-100 mb-1">
        </div>
    </div>
</div>
<section class="container">
    <div class="row height-view">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mt-3 mb-2 d-flex justify-content-end ">
                    <a class="btn alt-action-btn" href="{% url 'account_login' %}">Back to Login</a>
                    <button type="submit" name="action" class="btn action-btn">{% trans "Change Password" %}</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}