{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<div class="container">
    <!-- Heading-->
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">{% trans "Sign Up Closed" %}</h2>
            <hr class="w-100 mb-1">
        </div>
    </div>
</div>
<section class="container" style="height: 100vh;">
    <div class="row">
        <div class="col-12 col-md-6">
            <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
        </div>
    </div>
</section>
{% endblock %}