{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="container">
    <!-- Heading-->
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">{% trans "Verify Your E-mail Address" %}</h2>
            <hr class="w-100 mb-1">
        </div>
    </div>
</div>
<section class="container">
    <div class="row height-view">
        <div class="col-12 col-md-6 block">
            {% url 'account_email' as email_url %}
            <p>{% blocktrans %}This part of the site requires us to verify that
                you are who you claim to be. For this purpose, we require that you verify ownership of your e-mail address. {% endblocktrans %}</p>
            <p>We have sent an e-mail to you for verification. Follow the link provided to finalise the signup process.
                Please <a href="{% url 'contact_us' %}" class="link-text">contact us</a> if you do not receive it within
                a few minutes.</p>
            <p>{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail
                    address</a>.{% endblocktrans %}</p>
        </div>
    </div>
</section>
{% endblock %}