{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid page-wrapper bg-leaves lightgrey-section">
    <div class="row justify-content-center">
        <div class="col">
            <h3 class="text-center mb-3 showcase">Shipping</h3>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col">
            <div class="enlarge-text">
                <p><span style="text-decoration:underline">Standard UK Delivery</span>- £3.95 Delivered within 3 working days.<br><br><span style="text-decoration:underline">Next Day UK Delivery</span>- £4.95. Delivered next working day if ordered before 1pm. Please note orders placed after 1pm Friday will be shipped on Monday and delivered Tuesday.</p>
                <p><span style="text-decoration:underline">EU International</span> - £10.00 Delivered within 2-7 working days.</p>
                <p><span style="text-decoration:underline">Worldwide International </span>- £15.00 Delivered within 3-11 working days.</p>
                <p>All UK orders are shipped with DPD and are fully trackable. Please note DPD will not deliver Bank Holidays.<br><br>Please provide your mobile number and email address at checkout to be sent updates regarding your delivery.<br><br>Please note during Black Friday promotion period, order processing may take slightly longer than usual.</p>
            </div>
        </div>
    </div>
    <hr class="w-50 mb-1">
    <!-- Best sellers -->
    <div class="row">
        <div class="col py-5">
            <h3 class="text-center mb-3 showcase">Best Sellers</h3>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>
{% endblock %}