{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row height-view mt-5 ">
        <div class="col s12 offset-m1 m10 offset-l1 l10">
            <div class="card center large">
                <div class="card-image">
                    <img src="{% static 'images/404_error.png' %}" alt="coffee cup" width="100">
                </div>
                <div class="card-content">
                    <h3>Welcome to the unknown!</h3>
                    <span class="card-title text-darken-1">404 Error - Page Not Found</span>
                    <p class="error-p">The page you are looking for does not exist. How you got here is a mystery.</p>
                    <a href="{% url 'home' %}" class="btn action-btn mb-5">Go somewhere safe!
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}