{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid page-wrapper bg-leaves lightgrey-section">
    <div class="row justify-content-center">
        <div class="col">
            <h3 class="text-center mb-3 mt-5 showcase">Returns</h3>
            <hr class="w-50 mb-5 mt-5">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-md-6 col-sm-12">
            <h4>How do I return?</h4>
            <ul>
                <li>Email us at contact@sarancollectoin.co.uk your order number and state why you'd like to return your order</li>
                <li>You will get a confirmation email in 24 hours with the shipping guidelines once the return request is approved</li>
            </ul>
        </div>
        <div class="col col-md-6 col-sm-12">
            <h4>What items are returnable?</h4>
            <p>You can return your items within 14 days of receipt of your shipment.</p>
            <ul>
                <li>They must be in original condition</li>
                <li>For clothing, unwashed and unworn</li>
                <li>Beauty products are no eligiable&nbsp;</li>
                <li>In the original packaging</li>
            </ul>
            <p>Free gifts or promotional items are <strong>not</strong> returnable!</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-md-6 col-sm-12">
            <h4>Are there any charges for return?</h4>
            <ul>
                <li>There are no charges for return</li>
                <li>Original shipping charges are non-refundable</li>
                <li>You are responsible for the charges of the return shipping</li>
            </ul>
        </div>
        <div class="col col-md-6 col-sm-12">
            <h4>How soon will I get my refund?</h4>
            <ul>
                <li>Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.</li>
                <li>If you are approved, then your refund will be processed, and a credit will automatically be applied original method of payment, within 30 working days.</li>
            </ul>
        </div>
    </div>
    <hr class="w-50 mb-1">
    <!-- Call to Action -->
    <div class="row">
        <div class="col py-5">
            <a href="{% url 'products' %}" class="btn action-btn btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}