{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid page-wrapper bg-leaves lightgrey-section">
    <h3 class="text-center mb-3 showcase">Returns</h3>
    <hr class="w-50 mb-1">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4">
            <table>
                <th>
                    <h3 class="">HOW DO I RETURN?</h3>
                </th>
                <tr>
                    <td>
                        <ul>
                            <li>Enter your order number and email address in the fields above and click Start</li>
                            <li>Follow the instructions and select the items you want to return</li>
                            <li>You will get a confirmation email with the shipping guidelines once the return request is approved</li>
                        </ul>
                    </td>
                    <th>
                        <h3 class="">WHAT ITEMS ARE RETURNABLE?</h3>
                    </th>
                <tr>
                    <td>
                        <ul>
                            <li>You can return your items within 14 days of receipt of your shipment</li>
                            <li>They must be in original condition</li>
                            <li> For clothing, unwashed and unworn</li>
                            <li>Beauty products are no eligiable
                            <li>In the original packaging</li>
                            <li>Free gifts or promotional items are not returnable!</li>
                        </ul>
                    </td>
                    <td></td>
                </tr>

                <h3 class="">ARE THERE ANY CHARGES FOR RETURN?</h3>
                <ul>
                    <li>
                        There are no charges for return
                    </li>
                    <li>Original shipping charges are non-refundable</li>
                    <li>You are responsible for the charges of the return shipping</li>
                </ul>
                <h3 class="">HOW SOON WILL I GET MY REFUND?</h3>
                <ul>
                    <li>
                        Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.
                    </li>
                    <li> If you are approved, then your refund will be processed, and a credit will automatically be applied original method of payment, within 30 working days.</li>
                </ul>
            </table>
        </div>
    </div>
</div>
<!-- Best sellers -->
<div class="container-fluid lightgrey-section">
    <div class="row">
        <div class="col py-5">
            <h3 class="text-center mb-3 showcase">Best Sellers</h3>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>
{% endblock %}