{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <!-- Heading -->
    <div class="row">
        <div class="col-12 text-center">
            <hr>
            <h2 class="fs-1 mb-4">Product Management</h2>
            <h5 class="text-muted">Edit a Product</h5>
            <hr>
        </div>
    </div>
    <!-- Add Product Form -->
    <div class="row">
        <div class="col-12">
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy}}
                <div class="form-buttons" style="float:right;">
                    <a class="btn alt-action-btn mt-3 mb-5" href="{% url 'products' %}">Cancel</a>
                    <button class="btn action-btn mt-3 mb-5" type="submit">Update Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}