{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid">
    <!-- Product Image & detail -->
    <div class="row height-view">
        <!-- Product Image -->
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <img class="card-img-top img-fluid" src="{% static 'images/no_image.png' %}" alt="{{ product.name }}">
                {% endif %}
            </div>
        </div>
        <!-- Product Detail -->
        <div class="col-12 col-md-6 col-lg-4 mt-lg-5">
            <div class="product-details-container mb-5 mt-md-5">
                <h3 class="mb-0 secondary-text">{{ product.name }}</h3>
                <h4 class="lead mb-0 text-left secondary-text">£{{ product.price }}</h4>
                <div>
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        DESCRIPTION
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    {{ product.description }}
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        SHIPPING INFORMATION
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Standard UK Delivery- £3.95 Delivered within 3 working days.</p>
                                    <p>Next Day UK Delivery- £4.95. Delivered next working day if ordered before 1pm. Please note orders placed after 1pm Friday will be shipped on Monday and delivered Tuesday.</p>
                                    <p>All UK orders are shipped with DPD and are fully trackable. Please note DPD will not deliver Bank Holidays.</p>
                                    <p>Please provide your mobile number and email address at checkout to be sent updates regarding your delivery.</p>
                                    <p>Please note during Black Friday promotion period, order processing may take slightly longer than usual.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        RETURNS
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Returns within the UK are FREE and we have gone paperless!! You can return via post or to one of our UK stores.</p>
                                    <p>Please note our Bridal dresses and homeware can only be returned via Post.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="link-text" href="{% url 'products' %}?category={{ product.category.name }}">
                            {{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                </div>
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="#" class="btn action-btn btn-sm">Edit</a>
                    <a class="btn alt-action-btn btn-sm" href="#">Delete</a>
                </small>
                {% endif %}
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <!-- Size -->
                        {% with product.has_sizes as s %}
                        {% if s %}
                        <div class="col-12">
                            <p>SIZE</p>
                            <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                <option value="xs">XS</option>
                                <option value="s">S</option>
                                <option value="m" selected>M</option>
                                <option value="l">L</option>
                                <option value="xl">XL</option>
                            </select>
                        </div>
                        {% endif %}
                    </div>
                    <!-- Quantity -->
                    <div class="form-row">
                        <div class="col-6">
                            <div class=" form-group mx-auto quantity--selector">
                                <div class="input-group">
                                    <!-- Decrement Button -->
                                    <div class="input-group-prepend">
                                        <button id="decrement-qty_{{ product.id }}" class="decrement-qty " data-item_id="{{ product.id }}" aria-label="Decrement">
                                            <i class="fas fa-minus pt-2 fa-lg"></i>
                                        </button>
                                    </div>
                                    <!-- Quantity Input Box -->
                                    <input id="id_qty_{{ product.id }}" class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="9" data-item_id="{{ product.id }}">
                                    <!-- Increment Button -->
                                    <div class="input-group-append">
                                        <button id="increment-qty_{{ product.id }}" class="increment-qty" data-item_id="{{ product.id }}" aria-label="Increment">
                                            <i class="fas fa-plus pt-2 fa-lg"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Buttons & Links -->
                    <div class="col{% if s %}-12 mt-2{% endif %}">
                        <a href="{% url 'products' %}" class="btn alt-action-btn mt-5">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="">Keep Shopping</span>
                        </a>
                        <input type="submit" class="btn action-btn mt-5" value="Add to bag">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    {% endwith %}
                </form>
                <!-- Additional Information-->
                <p class="mt-3"><i class="fas fa-lock"></i> Safe & Secure Checkout</p>
                <p class="mt-3"><i class="fas fa-truck"></i> Free shipping in the UK on orders over
                    £{{ free_delivery_threshold }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
<!-- Link to script for handling the increment/decrement quantity buttons on the form -->
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}